<div class="pokemon-card-wrapper">
    <h1 class="pokemon-card-wrapper__title">Pokémon</h1>

    <div class="pokemon-card" *ngIf="pokemon() as p">
        <img class="pokemon-card__sprite" [src]="p.sprites.front_default" [alt]="p.name" />
        <p class="pokemon-card__name"><strong>Nome:</strong> {{ p.name }}</p>
        <p class="pokemon-card__height"><strong>Altezza:</strong> {{ (p.height / 10) }} m</p>
        <p class="pokemon-card__weight"><strong>Peso:</strong> {{ (p.weight / 10) }} kg</p>

        @if (isBattlePage) {
        <h3 class="subtitle">Stats:</h3>
        <ul class="pokemon-card__stats">
            @for (stat of p.stats; track stat.stat.name) {
            <li class="pokemon-card__stats-item"
                [class.stat-boosted]="currentStatChanges[stat.stat.name] > 0"
                [class.stat-lowered]="currentStatChanges[stat.stat.name] < 0">
                <strong>{{ stat.stat.name }}</strong>: {{ getModifiedStat(stat.base_stat, stat.stat.name) }}
                @if (currentStatChanges[stat.stat.name]) {
                <span class="stat-change"
                    [class.positive]="currentStatChanges[stat.stat.name] > 0"
                    [class.negative]="currentStatChanges[stat.stat.name] < 0">
                    ({{ currentStatChanges[stat.stat.name] > 0 ? '+' : '' }}{{ currentStatChanges[stat.stat.name] }}
                    stage)
                </span>
                }
            </li>
            }
        </ul>
        } @else {
        <h3 class="subtitle">Stats:</h3>
        <ul class="pokemon-card__stats">
            @for (stat of p.stats; track stat.stat.name) {
            <li class="pokemon-card__stats-item">
                <strong>{{ stat.stat.name }}</strong>: {{ stat.base_stat }}
            </li>
            }
            <h2 class="pokemon-card__stats__bst">BST: {{ calculateBst(p) }}</h2>
        </ul>
        }

        <h3 class="subtitle">Types:</h3>
        <ul class="pokemon-card__types">
            @for (type of p.types; track type.type.name) {
            <li class="{{ type.type.name }}">{{ type.type.name }}</li>
            }
        </ul>

        @if (!isBattlePage) {
        <h3 class="subtitle">Moves:</h3>
        <ul class="pokemon-card__moves">
            @for (move of selectedMoves(); track move.name) {
            <li class="pokemon-card__moves-item">
                <p class="pokemon-card__moves-item__name"><strong>{{ move.name }}</strong></p>
                <p class="pokemon-card__moves-item__type">Type:
                    <strong class="type-{{ move.type.name }}">{{ move.type.name }}</strong>
                    | {{ move.damage_class.name }}
                </p>
                <p class="pokemon-card__moves-item__power">
                    Pwr: {{ move.power }} | Acc: {{ move.accuracy }} | PP: {{ move.pp }}
                </p>
                <p class="pokemon-card__moves-item__effect">
                    {{ move.shortEffect ?? (move.effect_entries[0]?.short_effect || '') }}
                </p>
            </li>
            }
            @if (!selectedMoves().length) {
            <li class="pokemon-card__moves__error">Nessuna mossa disponibile</li>
            }
        </ul>
        }
    </div>
</div>
